/*
 * -------------------------------------------------                                                                                                                                           
 *  Bidirectional-Flow Nextflow config file                                                                                                                                                       
 * -------------------------------------------------                                                                                                                                              
 * Default config options for all environments.                                                                                                                                                   
 * Cluster-specific config options should be saved                                                                                                                                                
 * in the conf folder and imported under a profile                                                                                                                                                
 * name here.                                                                                                                                                                                      
 */

manifest {
  homePage = 'https://github.com/rutendos/Bidirectional-Flow'
  description = 'The pipeline identifies regions of bidirectional nascent transcription'
  mainScript = 'main.nf'
}

// installing dREG from (git clone https://github.com/Danko-Lab/dREG)
// installed rphast from tar ball (install.packages("rphast_1.6.11.tar.gz", repos=NULL, type="source"))

// Global default params, used in configs                                                                                                                                                           
params {
  version = "0.1" // Pipeline version

  // Input arguments                                                                                                                                                                                                                                         
  crams = "data/*.cram"
  bams = false

  // Run arguments                                                                                                                                                                                   
  workdir = false
  genome = false
  genome_refseq = false
  dreg = false
  fstitch = false
  tfit = false
  email=false
  help = false
  outdir = './results'
  prelimtfit = false
  singleEnd = false
}

profiles {
  example {
    process.executor = 'slurm'
    includeConfig 'conf/example.config'
  }
  hg38 {
    process.executor = 'slurm'
    includeConfig 'conf/hg38.config'
  }
  mm10 {
    process.queue = 'short'
    includeConfig 'conf/mm10.config'
  }
}
