/*
 * -------------------------------------------------                                                                                                                                           
 *  Bidirectional-Flow Nextflow config file                                                                                                                                                       
 * -------------------------------------------------                                                                                                                                              
 * Default config options for all environments.                                                                                                                                                   
 * Cluster-specific config options should be saved                                                                                                                                                
 * in the conf folder and imported under a profile                                                                                                                                                
 * name here.                                                                                                                                                                                      
 */

manifest {
  homePage = 'https://github.com/rutendos/Bidirectional-Flow'
  description = 'The pipeline identifies regions of bidirectional nascent transcription'
  mainScript = 'main.nf'
}

// installing dREG from (git clone https://github.com/Danko-Lab/dREG)
// installed rphast from tar ball (install.packages("rphast_1.6.11.tar.gz", repos=NULL, type="source"))

// Global default params, used in configs                                                                                                                                                           
params {
  version = "0.3" // Pipeline version

  // Input arguments                                                                                                                                                                                                                                         
  crams = "data/*.cram"
  bams = false

  // Run arguments                                                                                                                                                                                   
  workdir = false
  genome = false
  genome_refseq = false
  dreg = false
  fstitch = false
  tfit = false
  tfit_prelim = false
  tfit_model = false
  tfit_split_model = false
  prelim_files = false
  gene_count = false
  email=false
  help = false
  outdir = './results'
  singleEnd = false
  r1_five_prime = false
}

profiles {
  example {
    process.executor = 'slurm'
    includeConfig 'conf/example.config'
  }
  hg38_lysa8537 {
    process.executor = 'slurm'
    includeConfig 'conf/hg38_lysa8537.config'
  }
  mm10_lysa8537 {
    process.executor = 'slurm'
    includeConfig 'conf/mm10_lysa8537.config'
  }
  dm6_lysa8537 {
    process.executor = 'slurm'
    includeConfig 'conf/dm6_lysa8537.config'
  }
  hg38_rusi2317 {
    process.executor = 'slurm'
    includeConfig 'conf/hg38_rusi2317.config'
  }
  mm10_rusi2317 {
    process.executor = 'slurm'
    includeConfig 'conf/mm10_rusi2317.config'
  }
  dm6_rusi2317 {
    process.executor = 'slurm'
    includeConfig 'conf/dm6_rusi2317.config'
  }
}

timeline {
  enabled = true
    file = "${params.outdir}/pipeline_info/bidir_pipeline_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/pipeline_info/bidir_pipeline_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/pipeline_info/bidir_pipeline_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/pipeline_info/bidir_pipeline_dag.svg"
}

