
//process.shell = ['/bin/bash', '-euo', 'pipefail']

manifest {
  homePage = 'https://github.com/rutendos/Bidirectional-Flow'
  description = 'The pipeline identifies regions of bidirectional nascent transcription'
  mainScript = 'main.nf'
}



##installing dREG from (git clone https://github.com/Danko-Lab/dREG)
##Installed rphast from tar ball (install.packages("rphast_1.6.11.tar.gz", repos=NULL, type="source"))