/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* A minimum usage example is as follows:
 *       nextflow run main.nf  -profile example
 * Enter ~/nextflow run main.nf -profile dm6 --help for more aguments
 */

params {
  // dm6 Genome Reference Files
  genome = "/scratch/Shares/dowell/genomes/dm6/dm6.fa"
  chrom_sizes = "/scratch/Shares/dowell/genomes/dm6/dm6.chrom.sizes"
  genome_refseq = "/scratch/Shares/dowell/genomes/dm6/dm6_refseq.bed"
  fstitch_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  fstitch_train = "/scratch/Shares/dowell/FStitch/train/mm10_train.bed"
  tfit_path = '/scratch/Shares/dowell/old_tfit_03022017/src/Tfit'
  tfit_config = '/scratch/Shares/dowell/old_tfit_03022017/config_files/config_file_oneshot.txt'
  dreg_path = "/Users/lysa8537/pipelines/dREG/run_dREG.bsh"
  dreg_train = "/Users/lysa8537/pipelines/dREG-Model/asvm.gdm.6.6M.20170828.rdata"
}
