/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* A minimum usage example is as follows:
 *       nextflow run main.nf  -profile example
 * Enter ~/nextflow run main.nf -profile hg38 --help for more aguments
 */

params {
  // hg38 Genome Reference Files
  genome = "/scratch/Shares/dowell/genomes/hg38/hg38.fa"
  genome_refseq = "/scratch/Shares/dowell/genomes/hg38/hg38_refseq_genenames.bed"
  filtered_refseq = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_diff53prime.gtf"
  trunc_refseq = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_diff53prime_5ptrunc.gtf"
  chrom_sizes = "/scratch/Shares/dowell/genomes/hg38/hg38.chrom.sizes"
  fstitch_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  fstitch_train = "/scratch/Shares/dowell/FStitch/train/hg38_train.bed"
  tfit_path = '/scratch/Shares/dowell/old_tfit_03022017/src/Tfit'
  tfit_config = '/scratch/Shares/dowell/old_tfit_03022017/config_files/config_file_oneshot.txt'
  dreg_path = "/Users/rusi2317/bin/dREG/run_dREG.bsh"
  dreg_train = "/Users/rusi2317/bin/dREG/dREG_model/asvm.gdm.6.6M.20170828.rdata"
}

