/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* A minimum usage example is as follows:
 *       nextflow run main.nf  -profile example
 * Enter ~/nextflow run main.nf -profile hg38 --help for more aguments
 */

params {
  // hg38 Genome Reference Files
  genome = "/scratch/Shares/dowell/genomes/hg38/hg38.fa"
  genome_refseq = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_transcripts.bed"
  filtered_refseq = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_diff53prime_with_putatives.gtf"
  filtered_refseq_bed = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_diff53prime_with_putatives.bed"
  trunc_refseq = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_diff53prime_with_putatives_5ptrunc.gtf"
  trunc_refseq_bed = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_diff53prime_with_putatives_5ptrunc.bed"
  mu_file = "/Users/hoto7260/Flows/Bidirectional-Flow/assets/hg38_master_qc_gc_len_posneg_gene_filt_divconv_uniqueid_MUforTFIT_08-14-23.bed"
  bidir_accum = "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_tfit_dreg_bidirectionals.saf"
  chrom_sizes = "/scratch/Shares/dowell/genomes/hg38/hg38.chrom.sizes"
  fstitch_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  fstitch_train = "/scratch/Shares/dowell/FStitch/train/hg38_train.bed"
  tfit_path = "/scratch/Shares/dowell/Tfit/src/Tfit"
  tfit_config = "/scratch/Shares/dowell/Tfit/config_files/config_file_K5.txt"
  tfit_config_k2 = "/scratch/Shares/dowell/Tfit/config_files/config_file_K2.txt"
  dreg_path = ""
  dreg_train = ""
  promoter_bed= "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_promoters.bed"
  intron_bed= "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_introns.bed"
  intergenic_bed= "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_intergenic.bed"
  exon_bed= "/scratch/Shares/dowell/dbnascent/pipeline_assets/Bidirectional-Flow/assets/hg38_refseq_exons.bed"
}

