/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test
 */

/* Will run data as paired-end by default. A minimum usage example is as follows:
 *       nextflow run main.nf  -profile fiji
 * Enter nextflow run main.nf -profile fiji --help for more aguments
 */

params {
  // panPan2 Genome Reference Files
  genome = "/Shares/txpnevol/genomes/panPan2/panPan2.fa"
  genome_refseq = "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_cds.bed"
  filtered_refseq = "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_cds_diff53prime_with_putatives.gtf"
  filtered_refseq_bed = "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_cds_diff53prime_with_putatives.bed"
  trunc_refseq = "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_cds_diff53prime_with_putatives_5ptrunc.gtf"
  trunc_refseq_bed = "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_cds_diff53prime_with_putatives_5ptrunc.bed"
  mu_file = "/scratch/Shares/dowell/genomes/panPan2/liftover_bidirs/panPan2_from_hg38_bidirs_MU.lifted.sorted_chrom.bed"
  chrom_sizes = "/scratch/Shares/dowell/genomes/panPan2/panPan2.chrom.sizes"
  promoter_bed= "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_promoters.bed"
  intron_bed= "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_introns.bed"
  intergenic_bed= "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_integenic.bed"
  exon_bed= "/scratch/Shares/dowell/genomes/panPan2/annotations/panPan2_refseq_exons.bed"
  fstitch_path = "/scratch/Shares/dowell/FStitch/src/FStitch"
  fstitch_train = " "
  tfit_path = "/scratch/Shares/dowell/Tfit/src/Tfit"
  tfit_config = "/scratch/Shares/dowell/Tfit/config_files/config_file_K5.txt"
  tfit_config_k2 = "/scratch/Shares/dowell/Tfit/config_files/config_file_K2.txt"
  dreg_path = "/Users/rusi2317/bin/dREG/run_dREG.bsh"
  dreg_train = "/Users/rusi2317/bin/dREG/dREG_model/asvm.gdm.6.6M.20170828.rdata"
}
